<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <nav id="nav"  th:fragment="navFragment">
      <a href="#" class="logo"><img th:src="@{resources/images/logo.png}" alt="logo"></a>
      <ul class="menu">
        <li><a href="#"><i class="bi bi-justify"></i> 전체글</a></li>
        <li><a href="#"><i class="bi bi-justify"></i> 자유게시판</a></li>
        <li><a href="#"><i class="bi bi-chat-square-text"></i> 질문과 답변</a></li>
        <li><a href="#"><i class="bi bi-justify"></i> 맛집 후기</a></li>
        <li><a href="#"><i class="bi bi-image"></i> 생활 정보</a></li>
        <li><a href="#"><i class="bi bi-eye-slash-fill"></i> 숨김 글</a></li>
        <li><a href="#"><i class="bi bi-gear"></i> 설정</a></li>
      </ul>
    </nav>
    
</html>