@charset "utf-8";

body { background-color: #F6F3FF;}

/* login.html */
.container {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  padding: 70px 0;
  background-color: #fff;
  border-radius: 15px;
  box-sizing: border-box;
}
.container h1.title {
  font-size: 26px;
  text-align: center;
}
.container form {
  width: 330px;
  margin: 50px auto 0;
} 
.container form .input {
  display: inline-block;
  width: 100%; height: 55px;
  margin: 10px auto 5px;
  border-radius: 10px;
}
.container form > span {
  display: block;
  text-align: center;
}
.container form button {
  display: inline-block;
  width: 100%; height: 55px;
  margin: 10px auto 5px;
  border-radius: 10px;
}
.container form input.left {
  float: left;
  width: 230px;
  border-radius: 10px 0 0 10px;
}
.container form button.right {
  float: left;
  width: 100px;
  padding: 0;
  border-radius: 0 10px 10px 0;
}
.container form .infoText {
  margin: 0;
}
.container form .btnWrap {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.container form .btnWrap > button:first-child {
  margin-top: 30px;
}